extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/",method="POST")
    input(type="text", name="nombre", placeholder="Introduce tu nombre...")
    button(type="submit") Enviar

  if users
    h1 Listado de usuarios
    for user in users
      p 
        span #{user.nombre}
        | 
        a(href='/user/' + user.id) Details