extends layout

block content
  div(class='header')
    h1= title
    form(action="/",method="POST")
      input(type="text", name="nombre", placeholder="Introduce tu nombre...")
      button(type="submit") Enviar

  div(class='content')
    if users
      h1 Listado de usuarios
      table
        thead
          tr
            th
              span Fecha de creación
            th
              span Nombre
            th
              span Detalles
        tbody
          each user in users
            tr
              td
                span #{user.createdAt}
              td
                p 
                  span #{user.nombre}
              td(class="details")
                a(href='/user/' + user.id) Ver detalles