extends layout

block content
    h1 User
    p 
        span #{user.nombre}
        | 
        a(href='/user/' + user.id + '/edit') Modificar
        | 
        form(action="/user/" + user.id + '/delete', method="POST")
            button(type="submit") Eliminar