*{
  margin: 0;
  padding: 0;
}

a:link,a:visited{
  color: white;
  text-decoration: none;
}

.header{
  padding: 50px;
}

.header h1{
  margin: 10px 0 10px 0;
}

.header p{
  margin: 10px 0 5px 0;
}

.header button{
  padding: 5px 15px 5px 15px;
  border: 2px solid #333;
  background: transparent;
  border-left: none;
}

.header button:hover{
  background-color: #333;
  color: white;
  cursor: pointer;
}

.header input{
  padding: 5px 0 5px 5px;
  border: 2px solid #333;
}

a {
  color: #00B7FF;
}
table {
  border-collapse: collapse;
}

table tbody tr:last-child{
  z-index: 20;
}

tbody tr{
  line-height: 30px;
}
td,th{
  text-align: center;
  padding: 10px 20px 10px 20px;
}

th{
  background-color: rgba(0,0,0,0.8);
  color: white;
  line-height: 25px;
}

.tdInfo{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.content h1{
  margin-bottom: 15px;
}

.board{
  height: 100%;
  width: 15%;
  background: transparent;
  text-align: center;
  display:table;
  flex-direction: row;
  padding: 16px;
  top: 0;
}

.board table{
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
}

.board-content{
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.details{
  background-color: rgba(0,0,0,0.8);
  color: white !important;
}

.details:hover{
  background-color: green;
  cursor: pointer;
}

.dropZone{
  padding: 25px;
  font-size: 21px;
  color: rgba(0,0,0,0.1);
  width: 100%;
  background-color: rgba(255,255,255,0);
  height: 50px;
}

.dropZone i{
  padding: 10px;
  
}

.dropZone:hover{
  font-weight: bold;
  cursor: default;
}

.text{
  z-index: -10;
  position: absolute;
  margin-left: 3%;
  margin-top: -1%;
}